<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BET Online</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BETCart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (ViewBag.User != null)
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Shop Here", "Index", "Home")</li>
       
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (ViewBag.User != null) 
        { 
            <a class="basket">
                <span>Your Basket: </span> @ViewBag.CartUnits
                <table>
                    @foreach (var c in ViewBag.Cart)
                    {
                        <tr><td>@c.Quantity x @c.UnitPrice.ToString("C", ViewBag.CV)</td><td>@c.PName</td></tr>
                    }
                    <tr>
                        <td>Total: @String.Format("{0:c}", ViewBag.CartTotalPrice)</td>
                        <td>@Html.ActionLink("Check Out", "Index", "Checkout")</td>
                    </tr>
                </table>
            </a>
            }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BETSoftware Online</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
