@model BET.Domain.Models.ShoppingCartDataModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Hidden("UpdateTotal", Url.Action("UpdateTotal", "Checkout"))
@Html.Hidden("QuantityChange", Url.Action("ChangeQuantity", "Checkout"))

@* A better way is to download the styles and put them into a bundle config file. *@
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
@section scripts {
    <script>
        function UpdateTotalPrice() {
            $.ajax({
                type: 'GET',
                url: $("#UpdateTotal").val(),
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.Total == "R0.00") {
                        swal({
                            title: 'Success',
                            text: 'Cart Updated',
                            type: "success",
                            timer: 2000
                        }).then(function () {
                            location.reload();
                            return;
                        })
                    }
                    swal({
                        title: 'Success',
                        text: 'Cart Updated',
                        type: "success",
                        timer: 2000
                    }).then(function () {
                        $('#totalPrice').text(msg.Total);
                        location.reload();
                    })
                    
                }
            })
        }

        function Change(el, type, pid) {
            var data = {
                'type': type,
                'pId': pid
            };
            $.ajax({
                type: 'POST',
                url: $("#QuantityChange").val(),
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    UpdateTotalPrice()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    debugger;
                }
            });
        }</script>
}

<h2>Shopping Cart</h2>

@if (ViewBag.Cart.Count == 0)
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Welcome!</strong> Your shopping cart is currently empty. Let's start shopping
    </div>
}
else
{
    <table class="cart-page">
        @foreach (var item in ViewBag.Cart)
        {
            <tr>
                <td><span class="p-name">@item.PName</span> </td>
                <td><span class="p-name">@item.UnitPrice.ToString("C", ViewBag.CV)</span> </td>
                <td>
                    <a class="quantity" onclick="Change(this, 1, @item.PID)">+</a>
                    <span class="p-name">@item.Quantity</span>
                    <a class="quantity" onclick="Change(this, 0,  @item.PID)">-</a>
                    <a class="remove" onclick="Change(this, -1,  @item.PID)">Remove</a>
                </td>
            </tr>
        }
        <tr><td>Total: </td><td id="totalPrice" colspan="2">@String.Format("{0:c}", ViewBag.CartTotalPrice)</td></tr>
    </table>
    <div class="button">
        @Html.ActionLink("Clear Cart", "Clear", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Continue", "Purchase", "Checkout", null, new { @class = "btn btn-info" })
    </div>
}
