@model BET.Domain.Models.ProductsModel
@{
    ViewBag.Title = "Home Page";
}
@Html.Hidden("AddCart", Url.Action("AddToCart", "Home"))
<script>
    function AddCart(id) {
        var data = {
            'id': id
        };
        $.ajax({
            type: 'POST',
            url: $("#AddCart").val(),
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (msg) {
                location.reload();
            }
        })
    }
</script>
<h2>Products</h2>

<form action="/Home/Category" method="get" id="category" class="option">
    <span>Category</span>

<select id="catName" class="form-control" name="catName" onchange="$('#category').submit()">
    <option>-- Select Product to filter --</option>
    <option value="">All</option>
    <option value="Washing Machines">Washing Machines</option>
    <option value="Kettles">Kettles</option>
    <option value="Microwaves">Microwaves</option>
    <option value="Ports">Ports</option>
    <option value="Fridges">Fridges</option>
</select>
</form>


@if (ViewBag.Products.Count == 0)
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Welcome!</strong> Our shop is currently empty.
    </div>
}
else
{
    <div class="list-view">
        @foreach (var item in ViewBag.Products)
        {
            <div class="list-item">
                <span class="p-cart">@item.Category</span>
                <span class="p-brand"><img src="~/ProductImages/@item.ImageUrl" width="100" height="100" /> </span>
                <span class="p-name">@item.ProductName</span>
                <span class="p-description">@item.Description</span>

                <div class="add-to-cart">
                    <a class="add-to-cart" onclick="AddCart(@item.ProductId)">add to cart</a>
                    <span class="p-price">@item.Price.ToString("C", ViewBag.CV)</span>
                </div>
                <span class="p-unit">
                    @item.Quantity
                    @if (item.Quantity > 1)
                    {
                        <text>units</text>
                    }
                    else
                    {
                        <text>unit</text>
                    }
                </span>
            </div>
        }
    </div>
}



@*<tr>
        <td>@item.pname</td>
        <td>@string.format("{0:c}", item.unitprice)</td>
        <td>
            <a class="quantity" onclick="change(this, 1, @item.pid)">+</a>
            <span>@item.quantity</span>
            <a class="quantity" onclick="change(this, 0, @item.pid)">-</a>
            <a class="remove" onclick="change(this, -1, @item.pid)">remove</a>
        </td>
    </tr>*@